[submodule "vimrc/bundle/vim-rails"]
	path = vimrc/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vimrc/bundle/vim-bundler"]
	path = vimrc/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "vimrc/bundle/vim-colors-solarized"]
	path = vimrc/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vimrc/bundle/nerdtree"]
	path = vimrc/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimrc/bundle/vim-abolish"]
	path = vimrc/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vimrc/bundle/vim-taglist"]
	path = vimrc/bundle/vim-taglist
	url = https://github.com/emnh/taglist.vim
